.container{
    background-image:url("https://bit.ly/39zWRis");
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 5em;
}
h2{
    font-size: xx-large;
    color:blue;
    line-height: 5.0em;
}
.date-form {
    font-size: xx-large;
    font-weight: 600px;
    color:purple;
    flex-flow: row;
    float: center;
}
h1{
    background-color: darkgrey;
    border-width: 0.3em;
    border-color: green;
    border-style: groove;
}
footer{
    background-color: blueviolet;
    color: white;
    border-radius: 0.5em;
    border-color: turquoise;
    border-style: groove;
    line-height: 1.5em;
}